
/* Set styles for the leaderboard table */
.leaderboard-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  /* Set styles for table headers */
  .leaderboard-table th{
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  /* Set styles for table data cells */
  .leaderboard-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  /* Set background color for even rows */
  .leaderboard-table tr:nth-child(even) {
    background-color: #555;
  }
  
  /* Set background color for hovered rows */
  .leaderboard-table tr:hover {
    background-color: #777;
  }
  
  .tite{
    margin: 5000sp;
    margin-right: 500px;
  }